@import '~@ausuliv/frontend-components-utilities/styles/_all';


// ==================================================================
// Gauge
// ==================================================================
.ins-c-gauge {
    --ins-c-gauge-critical--Fill:       var(--pf-t--global--color--status--danger--default);
    --ins-c-gauge-high--Fill:           var(--ins-color--orange);
    --ins-c-gauge-medium--Fill:         var(--pf-t--global--color--status--warning--default);
    --ins-c-gauge-low--Fill:            var(--pf-t--global--color--status--success--default);

    .c3-chart-arcs-background {
        fill: var(--pf-t--global--background--color--secondary--default);
        stroke: none;
    }
}


// Modifier - positive
// ==================================================================
// if a fuller gauge is positive

.ins-c-gauge {

    &.ins-m-fill-level-1 .c3-arc {
        fill: var(--ins-c-gauge-low--Fill);
    }

    &.ins-m-fill-level-2 .c3-arc {
        fill: var(--ins-c-gauge-medium--Fill);
    }

    &.ins-m-fill-level-3 .c3-arc {
        fill: var(--ins-c-gauge-high--Fill);
    }

    &.ins-m-fill-level-4 .c3-arc {
        fill: var(--ins-c-gauge-critical--Fill);
    }
}

// Modifier - negative
// ==================================================================
// if a fuller gauge is negative

.ins-c-gauge.ins-m-negative {

    &.ins-m-fill-level-1 .c3-arc {
        fill: var(--ins-c-gauge-critical--Fill);
    }

    &.ins-m-fill-level-2 .c3-arc {
        fill: var(--ins-c-gauge-high--Fill);
    }

    &.ins-m-fill-level-3 .c3-arc {
        fill: var(--ins-c-gauge-medium--Fill);
    }

    &.ins-m-fill-level-4 .c3-arc {
        fill: var(--ins-c-gauge-low--Fill);
    }
}

